<%- include("header") -%>

<h1>This is the about page</h1>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem modi omnis asperiores similique ex excepturi, hic cupiditate harum neque fugit qui! Ratione a illo distinctio?</p>
<%- include("footer") -%> 